<app-user-nav></app-user-nav>
<ngx-spinner></ngx-spinner>
<div class="container">
  <div class="card">
    <div *ngFor="let item of home;">
      <div class="card-header text-center">
        <h3>{{item._name}}</h3>
      </div>
      <div *ngFor="let question of item.questions;let i=index;">
        <div class="card-body">
          <h6 class="card-title">Question no :{{i+1}}</h6>
          <p class="card-text">{{question._question}}</p>
          <div class="row">
            <div class="col-6">
              <select class="custom-select" id="dataFile"  [(ngModel)]="dataFileId">
                <option  selected>Click to select feature mapping</option>
                <option *ngFor="let data of question.userData" value={{data._id}}> {{data.file}}
                </option>
              </select>
            </div>
            <div class="col-6">
              <button type="submit" class="btn btn-sm btn-primary" (click)="uploadData()">Get Answer</button>
              <div *ngIf="!isFileSelected && uploadDataClicked" class="invalid-feedback d-block">
                <span>Please select the data file first..</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
