<app-admin-nav></app-admin-nav>
<ngx-spinner></ngx-spinner>
<div class="card container">
  <article class="card-body">
    <h4 class="card-title text-center">Add Model Info</h4>
    <hr>
    <form [formGroup]="modelInfoForm">
      <div class="form-group row">
        <label for="modelFile" class="col-sm-3 col-form-label">Model File</label>
        <div class="col-sm-9">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="modelFile" formControlName="modelFile"
              (change)="handleModelFileInput($event.target.files)">
            <label class="custom-file-label" for="dataFile">{{modelFileText}}</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="dataFile" class="col-sm-3 col-form-label">Data File</label>
        <div class="col-sm-9">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="dataFile" formControlName="dataFile"
              (change)="handleDataFileInput($event.target.files)">
            <label class="custom-file-label" for="dataFile">{{dataFileText}}</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="algorithm" class="col-sm-3 col-form-label">Algorithm</label>
        <div class="col-sm-9">
          <select class="custom-select" id="algorithm" formControlName="algorithm">
            <option value="" selected>Select an algorithm</option>
            <option *ngFor="let algo of algos;" value={{algo.index}}> {{algo._name}}
            </option>
          </select>
        </div>
      </div> <!-- form-group// -->
      <div formArrayName="features" *ngFor="let feature of modelInfoForm.get('features').controls; let i = index;">
        <div [formGroupName]="i">
          <div class="form-group row">
            <label for=`feature${i}` class="col-sm-3 col-form-label">Feature {{i+1}}</label>
            <div class="col-sm-9">
              <input id=`feature${i}` class="form-control-plaintext" formControlName="feature" class="form-control"
                placeholder="Enter feature name.." type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="form-group col-sm-3 offset-3">
          <button (click)="addFeature()" type="submit" class="btn btn-outline-primary btn-block"> Add </button>
        </div>
        <div class="form-group col-sm-3">
          <button (click)="removeFeature()" type="submit" class="btn btn-outline-danger btn-block">
            Remove </button>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-10 offset-2">
          <button (click)="onSubmit()" type="submit" class="btn btn-primary btn-block"> Submit </button>
        </div> <!-- form-group// -->
      </div>
    </form>
  </article>
</div>
